@import 'styles/base.scss';

.wrapper {
  background-color: $brand-color;
  border: 1px solid $brand-color;
  border-radius: $border-radius;
  color: white;
  font-size: 15px;
  margin-left: 4px;
  max-width: 80px;
  min-width: 80px;
  padding: $button-padding;
  
  &:hover {
    cursor: pointer;
  }
}