@import 'base.scss';

.wrapper {
  border-top: 1px solid rgba(139, 107, 19, 0.6); 
}

.item_wrapper {
  padding: 16px 0;
  & + & {
    border-top: 1px dashed rgba(139, 107, 19, 0.6);
  }
}

.item_wrapper_label {
  margin-bottom: 8px;
}

.modify_button {
  margin-left: 8px;
}