@import 'styles/base.scss';

.mobile_template_wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: $mobile-size;
  position: relative;
  width: 100%;
}

.mobile_template_header {
  height: 100px;
  width: 100%;
}