@import 'styles/base.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.calendar {
  height: 100%;
  width: 100%;
}

.calendar_header {
  background-color: gray;
  color: white;
  padding: 24px 24px 16px;
}

.calendar_indicators {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
}

.calendar_indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 45px;
  height: 45px;
  line-height: 1;
  border-radius: 50%;
}

.calendar_main {
  width: 100%;
  padding: 0 24px;
}

.calendar_main_head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  // height: 100%;
}

.calendar_main_body {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
}

.current_year {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  line-height: 1;
  
  .current_year_number {
    font-size: 24px;
  }
  .current_year_text {
    font-size: 20px;
  }
}

.current_month {
  width: auto;
  height: auto;
  .current_month_number {
    font-size: 40px;
  }
  .current_month_text {
    font-size: 24px;
    font-weight: bold;
  }
}

.calendar_item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 45px;
  height: 45px;
  line-height: 1;
  border-radius: 50%;
  
  &:hover {
    cursor: pointer;
  }

}

.selected {
  background-color: $brand-color;
  color: white;
}

.gray {
  color: gray;
}

.calendar_button_wrapper {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.arrow_button {
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}