@import './keyframes.scss';

/* color */
$brand-color: #0f4c81;
$disabled-color: #ebebeb;

/* sizes */
$navigation-height: 56px;
$mobile-size: 768px;
$tablet-size: 992px;

/* border */
$border-radius: 2px;
$border-radius_circle: 50%;
$border-radius-mid: 4px;

/* padding */
$button-padding: 4px 16px;
$input-padding: 8px;