/* color */
$brand-color: #0f4c81;
$disabled-color: rgb(235, 235, 235);

/* sizes */
$mobile-size: 768px;
$table-size: 992px;

$border-radius: 2px;
$border-radius-mid: 4px;
$border-radius_circle: 50%;

/* padding */
$button-padding: 4px 16px;
$input-padding: 8px;